{% extends "base.html" %}{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/form.css' %}">{% endblock %}

{% block content %}
  {% if validlink %}
    {% include "partials/page_head.html" with eyebrow="Account" heading="Set a new password" lead="Choose something you do not use anywhere else." %}
    <section class="section section--flush-top">
      <div class="wrap wrap--narrow">
        <form class="form" method="post" novalidate>
          {% csrf_token %}
          <div class="fields">
            {% include "accounts/_field.html" with field=form.new_password1 %}
            {% include "accounts/_field.html" with field=form.new_password2 %}
          </div>
          <div class="form__actions">
            <button class="btn" type="submit">Save the new password</button>
          </div>
        </form>
      </div>
    </section>
  {% else %}
    {% include "partials/page_head.html" with eyebrow="Account" heading="That link did not work" lead="It has either expired or it has already been used." %}
    <section class="section section--flush-top">
      <div class="wrap wrap--narrow">
        <p>Reset links last three days and work once. Ask for a new one.</p>
        <p class="mt-5"><a class="link-arrow" href="{% url 'accounts:password_reset' %}">Ask for a new link</a></p>
      </div>
    </section>
  {% endif %}
{% endblock %}
