{% extends "base.html" %}{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/form.css' %}">{% endblock %}

{% block content %}
  {% include "partials/page_head.html" with eyebrow="Account" heading="Reset your password" lead="Give us the address on your account and we will send a link to set a new password." %}

  <section class="section section--flush-top">
    <div class="wrap wrap--narrow">
      <form class="form" method="post" novalidate>
        {% csrf_token %}
        <div class="fields">
          {% include "accounts/_field.html" with field=form.email %}
        </div>
        <div class="form__actions">
          <button class="btn" type="submit">Send the link</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
